<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Image Compressor</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
	<div class="box">
		<form autocomplete="off" method="POST" action="/upload" enctype="multipart/form-data">
			<h2>IMAGE COMPRESSOR</h2>
			<input type="file" name="file" accept=".jpg, .jpeg, .png" required>

			<input type="submit" value="Compress">
            {% if compressed %}
            <p></br><center>Image compressed successfully!</center> <button><a href="/download">Download Compressed Image</a></button></p>
        {% endif %}
    
        {% if error %}
            <p>{{ error }}</p>
        {% endif %}
            
		</form>
   
	</div>
	
</body>
</html>